ion-content{
    --background: rgba(253, 233, 206, 0.746);

}
.bg-transparent {
    background: transparent;
  }

  .anadir{
    background: rgba(255, 254, 185, 0.664);
    --border-radius: 30%;
    

  }
  