<ion-header no-border>
  <ion-toolbar color="medium">
    <ion-title>
      Agregar nombre de la lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <div class="agregar">
      <ion-img class="crear" src="assets/img/cart.png" (click)="listaCompraService.agregarLista()"></ion-img>
    </div>
<ion-list class="bg-transparent">
  <ion-item color="none" *ngFor="let lista of listaCompraService.listas; let i = index" 
            (click)="listaCompraService.irLista( i )" detail>
      <ion-button size="large" fill="clear" (click)="listaCompraService.presentAlertConfirm ( i )">
        <ion-icon slot="start" name="trash" color="danger"></ion-icon>
      </ion-button>
    <ion-label>{{lista.titulo}}</ion-label>
    <ion-note slot="end">{{ lista.items.length }} Artículos</ion-note>
  </ion-item>
</ion-list>



  





</ion-content>
